<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>935285885979-0vc3q1fq78k2ljmgff1pvrn3hqqgmkck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935285885979-0vc3q1fq78k2ljmgff1pvrn3hqqgmkck</string>
	<key>API_KEY</key>
	<string>AIzaSyCmMDepUzxWeldgkdHo2sJO7R7ESdRYRAA</string>
	<key>GCM_SENDER_ID</key>
	<string>935285885979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sim.StoryTell</string>
	<key>PROJECT_ID</key>
	<string>storytell-4f7e7</string>
	<key>STORAGE_BUCKET</key>
	<string>storytell-4f7e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:935285885979:ios:748238570f5c192e</string>
	<key>DATABASE_URL</key>
	<string>https://storytell-4f7e7.firebaseio.com</string>
</dict>
</plist>